<div id="outer-container-products">
                    
    <div id="header-products">
                <ul id="path">
                    <li id="cathegory"></li>
                    <li id="subcathegory">
                        <a href=""></a>
                    </li>
                    <li id="type"></li>
                </ul>
    </div>

    <div id="inner-container-products">
            <aside id="side-navigation">
    
                <div id="side-nav-types-container">
                    <a id="side-nav-main-link" href=""></a>
                    <ul id="side-nav-types-list">
                        <li class="side-nav-type-option type-selected-option"></li>
                        <li class="side-nav-type-option"></li>
                        <li class="side-nav-type-option"></li>
                    </ul>
                </div>
    
                <div id="filter-container">
                    <div id="clear-filters-container">
                        <span>Изчисти филтрите</span>
                        <span id="clear-filters-x">
                            <img src="/assets/images/icons/clear-filters-icon.png" class="icon" alt=""/>
                        </span>
                    </div>
    
                    <ul id="filters-list">
    
                        <ul>
                            <h1 id="availability-filter-list">
                                <span class="filter-title">Наличност</span>
                                <img src="assets/images/icons/arrow-up.png" class="icon filter-arrow" alt=""/>
                            </h1>
                            <li>
                                <input type="checkbox" name="availability" id="availability-filter"> В наличност
                                    <span class="number-of-results">
                                        <!-- (1237) -->
                                    </span>
                                </input>
                            </li>
                            <li>
                                <input type="checkbox" name="availability" id="sale-filter"> Промоции
                                    <span class="number-of-results">
                                        <!-- (459) -->
                                    </span>
                                </input>
                            </li>
                        </ul>
    
                        <ul>
                            <h1 id="manufacturer-filter-list">
                                <span class="filter-title">Производител</span>
                                <img src="assets/images/icons/arrow-up.png" class="icon filter-arrow" alt=""/>
                            </h1>
                            <!-- <li>
                                <input type="checkbox" name=""> Samsung
                                    <span class="number-of-results">
                                        (1237)
                                    </span>
                                </input>
                            </li> -->
                        </ul>
                    </ul>                        
                
                </div>
            </aside>
    
            <div id="main-content-outer-container"> 
                <div id="main-content-container">
                    <div id="main-container-nav">
                        <div id="main-container-header">
                            <h1></h1>
                            <!-- <h1>Мобилни телефони <span>1237 продукта</span></h1>    -->
                            <hr />
                        </div>
    
                        <div id="selected-filters">
                            <ul>
                                <li>
                                    <h1 class="filters-result-title">наличност:</h1>
                                    <div class="select-container-div">
                                        <select name="availability" id="availability-select">
                                            <option value="available"></option>
                                            <option value="sale"></option>
                                        </select>
                                        <span>
                                            <img src="assets/images/icons/clear-filters-icon.png" class="icon, delete-filter" alt=""/>
                                        </span>
                                    </div>
                                </li>
    
                                <li>
                                    <h1 class="filters-result-title">производител:</h1>
                                    <div class="select-container-div">
                                            <select name="distributor" id="distributor-select">
                                                <!-- <option value="samsung">Samsung <span>(1423)</span></option> -->
                                            </select>
                                            <span>
                                                <img src="assets/images/icons/clear-filters-icon.png" class="icon, delete-filter" alt=""/>
                                            </span>
                                    </div>
                                </li>
                            </ul>
                            <hr />
    
                            <div id="sort-by-price">
                                <span>Подреди по:</span>
                                <select name="price-sort" id="price-sort-select">
                                        <option value="lowest">Цена възх.</option>
                                        <option value="highest">Цена низх.</option>
                                </select>
                            </div>
                        </div>    
                    </div>
    
                    <section id="available-products">
                        <!-- <article class="single-product-container">
                            <div class="single-product-nav">
                                <img src="assets/images/icons/gray-heart-icon.png" class="icon" alt="" />
                            </div>
                            <div class="single-product-img-container">
                                <img src="https://s11emagst.akamaized.net/products/8892/8891494/images/res_d7d63673fac35dac5f93604c4a7bd059_200x200_fspo.jpg" class="single-product-image" alt="" />
                            </div>       
                            <a href="" class="single-product-title">Смартфон Apple iPhone X, 256 GB, 4 G, Space Grey</a>
                            <p class="single-product-availability, product-available">в наличност</p>
                            <p class="single-product-price">2579<sup>99</sup> лв.</p>
    
                            <button class="single-product-buy-button">
                                <div class="buy-nav-add-to-cart">
                                    <img class="nav-cart-icon" class="icon" src="assets/images/icons/cart-icon.png" alt="" />
                                </div>
                                <span class="button-text" class="buy-nav-txt"> Добави в количката</span>
                            </button>
                        </article>
     -->
                        <div id="result-pages-nav">
                            <div id="pages-info">
                                <span></span>
                                от
                                <span></span>
                                продукта
                            </div>
    
                            <div id="pages-buttons">
                                <button disabled id="back-page">Назад</button>
                                <!-- <button class="current-page" id="page-1">1</button>
                                <button id="page-2">2</button>
                                <button disabled id="buffer-button">...</button>
                                <button id="page-last">6</button> -->
                                <button id="forward-page">Напред</button>
                            </div>
                        </div>
                    </section>
    
                </div>
            </div>
    </div>
</div>