body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    padding: 1em;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    background-color: #005EB8;
}

#logo {
    position: relative;
    margin-top: 0.4em;
    margin-left: 1em;
}

#search {
    position: absolute;
    top: 1em;
    box-sizing: border-box;
    padding: 0.3em;
    border-radius: 10px;
    font-size: 1.3em;
    margin-left: 1em;
    width: 40%;
}

#search:focus {
    outline: none;
}

#main-nav {
    box-sizing: border-box;
    font-size: 0.9em;
    float: right;
}
#main-nav ul {
    list-style-type: none;
}

#main-nav > ul > li {
    position: relative;
    margin-left: 2em;
    padding: 1em;
    display: inline-block;
}
#main-nav li > a {
    letter-spacing: 0.7px;
    color: white;
    text-decoration: none;
}
.icons {
    position: absolute;
    top: 0.5em;
    left: -1.2em;
    width: 25px;
    padding-right: 0.2em;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}
.carret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.nav-extensions {
    position: absolute;
    top: 100%;
    left: -120%;
    width: 300px;
    font-size: 12px;
    border: 1px solid white;
    border-radius: 5px;
    display: inline-block; 
    box-shadow: 5px 5px 5px #888888;
    z-index: 100;
    display: none;
}

.nav-extensions > div {
    display: inline-block;
}

#first-acc-extension {
    box-sizing: border-box;
    background-color: #ffffff;
    width:100%;
    padding: 0.4em;
    
}

#first-acc-extension img {
    width: 35px;
    padding: 0.1em;
    margin-left: 0.4em;
    margin-right: 0.4em;
}
#first-acc-extension p {
    display: inline-block;
    width:80%;
    padding: 0.2em;
    line-height: 1.5em;
}


#second-acc-extension {
    width:100%;
    background-color: #E9EBEE;
    box-sizing: border-box;
    padding: 1em;
    
}

#second-acc-extension button {
    font-size: 12px;
    padding: 0.4em;
    background-color: #005EB8;
    color: white;
    border-radius: 5px;
    margin-left: 0.5em;
    
}
#second-acc-extension button:hover {
    background-color: rgb(15, 75, 131);
}   


#second-acc-extension button span {
    padding: 0.4em;
}
#second-acc-extension a {
    color:#005EB8;
    font-size: 12px;
    margin-left: 2em
}

#first-fav-extension {
    box-sizing: border-box;
    background-color: #ffffff;
    width:100%;
    padding: 0.4em;
    text-align: center;
}

#second-fav-extension {
    width:100%;
    background-color: #E9EBEE;
    box-sizing: border-box;
    padding: 0.4em;
    text-align: center;
}

#second-fav-extension button {
    font-size: 16px;
    padding: 0.3em;
    width: 90%;
    background-color: #005EB8;
    color: white;
    border-radius: 5px;
}

#second-fav-extension button:hover {
    background-color: rgb(15, 75, 131);
} 

#first-cart-extension {
    box-sizing: border-box;
    background-color: #E9EBEE;
    width:100%;
    padding: 0.4em;
    text-align: center;
}

.logged-user-extensions {
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: -60%;
    display: inline-block; 
    box-shadow: 5px 5px 5px #888888;
    z-index: 100;
    border: 1px solid white;
    border-radius: 5px;
    width: 15em;
    display: none;
}

.logged-user-extensions hr {
    margin:0;
}

#hello-div h4 {
    font-size: 1.1em;
    font-weight: bold;
    padding-left: 0.5em;
    padding-right: 1em;
    line-height: 1.2em;
    text-align: center;
}

#list-logged-user {
    margin: 0.4em auto;    
}

#list-logged-user > ul {
    text-align: left;
}
#list-logged-user li {
    margin-bottom: 0.4em;
    display:block;
    padding:0.3em;
}

#list-logged-user li:hover a {
    color: #005EB8;
}

#list-logged-user li a {
    color: black;
    cursor: pointer;
}

.favorite-products {
    display: block;
    margin: 0.8em 0.4em;
}

.favorite-products p {
    display: inline-block;
}

.products-names {
    width:32%;
    margin: 0.5em;
    margin-left: 0;
}
.product-prices {
    margin-left:1em;
    box-sizing: border-box;
    font-weight: bold;
    color: #005EB8;
}
