html {
    background-color: #E9EBEE;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
}
header {
    padding: 1em;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    background-color: #005EB8;
}

#logo {
    position: relative;
    margin-top: 0.4em;
    margin-left: 1em;
}

#search {
    position: absolute;
    top: 1em;
    box-sizing: border-box;
    padding: 0.3em;
    border-radius: 10px;
    font-size: 1.3em;
    margin-left: 1em;
    width: 40%;
}

#search:focus {
    outline: none;
}

#main-nav {
    box-sizing: border-box;
    font-size: 0.9em;
    float: right;
}
#main-nav ul {
    list-style-type: none;
}

#main-nav > ul > li {
    position: relative;
    margin-left: 2em;
    padding: 1em;
    display: inline-block;
}
#main-nav li > a {
    letter-spacing: 0.7px;
    color: white;
    text-decoration: none;
}
.icons {
    /* position: absolute; */
    top: 0.5em;
    left: -1.2em;
    width: 25px;
    padding-right: 0.2em;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}
.carret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.nav-extensions {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 300px;
    font-size: 12px;
    border: 1px solid white;
    border-radius: 5px;
    display: inline-block; 
    box-shadow: 5px 5px 5px #888888;
    z-index: 100;
    display: none;
}

.nav-extensions > div {
    display: inline-block;
}

#first-acc-extension {
    box-sizing: border-box;
    background-color: #ffffff;
    width:100%;
    padding: 0.4em;
    
}

#first-acc-extension img {
    width: 35px;
    padding: 0.1em;
    margin-left: 0.4em;
    margin-right: 0.4em;
}
#first-acc-extension p {
    display: inline-block;
    width:80%;
    padding: 0.2em;
    line-height: 1.5em;
}


#second-acc-extension {
    width:100%;
    background-color: #E9EBEE;
    box-sizing: border-box;
    padding: 1em;
    
}

#second-acc-extension button {
    font-size: 12px;
    padding: 0.4em;
    background-color: #005EB8;
    color: white;
    border-radius: 5px;
    margin-left: 0.5em;
    
}
#second-acc-extension button:hover {
    background-color: rgb(15, 75, 131);
}   


#second-acc-extension button span {
    padding: 0.4em;
}
#second-acc-extension a {
    color:#005EB8;
    font-size: 12px;
    margin-left: 2em
}

#first-fav-extension {
    box-sizing: border-box;
    background-color: #ffffff;
    width:100%;
    padding: 0.4em;
    text-align: center;
}

#second-fav-extension {
    width:100%;
    background-color: #E9EBEE;
    box-sizing: border-box;
    padding: 0.4em;
    text-align: center;
}

#second-fav-extension button {
    font-size: 16px;
    padding: 0.3em;
    width: 90%;
    background-color: #005EB8;
    color: white;
    border-radius: 5px;
}

#second-fav-extension button:hover {
    background-color: rgb(15, 75, 131);
} 

#first-cart-extension {
    box-sizing: border-box;
    background-color: #E9EBEE;
    width:100%;
    padding: 0.4em;
    text-align: center;
}

.logged-user-extensions {
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: -60%;
    display: inline-block; 
    box-shadow: 5px 5px 5px #888888;
    z-index: 100;
    border: 1px solid white;
    border-radius: 5px;
    width: 15em;
    display: none;
}

.logged-user-extensions hr {
    margin:0;
}

#hello-div h4 {
    font-size: 1.1em;
    font-weight: bold;
    padding-left: 0.5em;
    padding-right: 1em;
    line-height: 1.2em;
    text-align: center;
}

#list-logged-user {
    margin: 0.4em auto;    
}

#list-logged-user > ul {
    text-align: left;
}
#list-logged-user li {
    margin-bottom: 0.4em;
    margin-left: 0em;
    display:block;
    cursor: pointer;
    padding:0.3em;
}

#list-logged-user li:hover {
    background-color: #E9EBEE;
}
#list-logged-user li:hover a {
    cursor: pointer;
    color: #005EB8;
}

#list-logged-user li a {
    color: black;
    cursor: pointer;
}
.favorite-products {
    display: block;
    margin: 1em 1em;
}

.favorite-products p {
    display: inline-block;
}

.products-names {
    width:32%;
    margin: 0.5em;
    margin-left: 0;
}
.product-prices {
    margin-left:1em;
    box-sizing: border-box;
    font-weight: bold;
    color: #005EB8;
}

#second-nav {
    background-color: white;
    height: 40px;
    color: white;
    -webkit-box-shadow: 0 4px 40px -4px #413b3b;
    -moz-box-shadow: 0 4px 40px -4px #413b3b;
         box-shadow: 0 4px 40px -4px #413b3b;
}

#second-nav ul {
    box-sizing: border-box;
    margin:0;
    height: 100%;
}
#second-nav ul >li {
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
    text-align: -webkit-match-parent;
}

#second-nav ul > li:first-of-type {
    float: left;
    margin-left: 3%;
    padding-left: 1em;
    width: 16em;
    background-color: #22a7f0;
    text-align: left;
}

#second-nav ul > li:last-of-type {
    margin-left: 65%;
    color: #005EB8;
}

aside {
    visibility: visible;
    position: absolute;
    left: 2.2em;
    z-index: 200;
}

#categories {
    visibility: visible;
}
#categories img {
    filter: invert(100%);
    -webkit-filter: invert(100%);
    width: 20px;
    margin-right: 1em;
}

#categories a {
    color: white;
    text-decoration: none;
}

#second-nav ul > li > div {
    box-sizing: border-box;
    height: 100%;
    padding: 0.5em;
    align-content: center;
}


#categories-list { 
    float:left;
    font-size: 0.9em;
    margin-left: 3%;
    width: 15em;
    padding-top: 0.5em;
    width:17.8em;
    background-color: #fff;
    display: block;
}
#categories-list li {
    padding: 0.5em;
    cursor: pointer;
    padding-bottom: 1em;
}

#categories-list li > img {
    width: 20px;
    margin-right: 0.3em;
}

#categories-list li > a {
    color: #000;
    text-decoration: none;
}
#categories-list li:hover {
    background-color: #E9EBEE;
}
#categories-list li:hover > a {
    color: #005EB8;
}

main {
    position: relative;
    margin-top:0.9em;
    background-color: #fafafa; 
    text-align: center;
}
#user-menu {
    display: inline-block;
    border: 1px solid #E9EBEE;
    border-radius: 10px;
    width: 70%;
    margin: 2em auto;
}

#profile-options {
    float:left;
    box-sizing: border-box;
    width: 30%;
    height: 100%;
    background-color: #fff;
    text-align: left;
}

.active-option {
    background-color: #E9EBEE;
}

#profile-options ul > li {
    padding: 1em 2em;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#profile-options ul > li:hover {
    cursor: pointer;
    background-color: #E4F1F9;
}

#profile-option-content {
    display:inline-block;
    box-sizing: border-box;
    width: 70%;
    height: 100%;
    background-color: #E4F1F9;
    padding-left: 2em;
    text-align:left;
    padding-bottom: 5em;
}

#profile-option-content > div > h3 {
    font-weight: bold;
}

#profile-option-content > div > section {
    width: 95%;
    background-color: #fff;
    margin-top: 2em;
    padding: 1em 0.5em;
    border-radius: 10px;
}

#edit-profile > div {
    box-sizing: border-box;
    display: inline-block;
}

.labels {
    margin-right: 1em;
    display: inline-block;
    width: 35%;
}

.inputs {
    display: inline-block;
    margin-bottom: 2em;
    width: 60%;
}

.inputs input[type=text],
        input[type=email],
        input[type=password] {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 2em;
    padding: 0.2em;
    background: #fff;
    border: 1px solid #bbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 1.2em;
    color: #000;
}

#save-profile-edits-btn,
#save-new-email,
#save-new-password,
#save-address,
#add-all-to-cart,
#delete-all-favs,
#add-fav-to-cart {
    font-size: 0.9em;
    padding: 0.5em 1.2em;
    background-color: #005EB8;
    color: white;
    border: 1px solid #005EB8;
    border-radius: 5px;
    margin-left: 0.5em;
}

#save-profile-edits-btn:hover,
#save-new-email:hover,
#save-new-password:hover,
#save-address:hover,
#add-all-to-cart:hover,
#delete-all-favs:hover,
#add-fav-to-cart:hover  {
    background-color: #00415d;
    border: 1px solid #00415d;
}

.address-buttons {
    font-size: 0.9em;
    padding: 0.5em 1.2em;
    background-color: #005EB8;
    color: white;
    border: 1px solid #005EB8;
    border-radius: 5px;
    margin-left: 0.5em;
    float:right;
}

#add-address {
    float: none;
}

.address-buttons:hover {
    background-color: #00415d;
    border: 1px solid #00415d;
}

#current-email {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 2em;
}



.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#favs {
    width: 100%;
    margin-top: 3em;
}

#favs tr {
    border-top: 1px solid #bbb;
}
.fav-product-img {
    display: inline-block;
    padding: 1em 0;
}

.fav-product-img img {
    width: 11em;
}
.fav-name {
    padding-top: 0;
}
.fav-name h2 a {
    text-decoration: none;
    color: #000;
    font-size: 0.5em;
}
.product-description {
    height: 100%;
    vertical-align: top;
}

.fav-price {
    font-size: 1.2em;
    color: red;
    font-weight: bold;
}


#no-fav-products,
#no-orders {
    font-size: 1.5em;

}
