#outer-container-products{
    width: 93%;
    margin: auto;
    border-radius: 5px;
    background-color: rgb(233,235,238);
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
}

#inner-container-products{
    padding: 1em 1.5em;
}

#header-products{
    text-align: left;
}

.icon{
    height: 30px;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    /* margin: 0 2% */
}

/* header-products style */
#path{
    display: inline-block;
    list-style-type: none;
    margin-left: 2%;
    margin-top: 2%;
    font-size: 1.1em;
}

#path>li{
    float: left;
    margin-left: 0.5em;
    color: rgb(158,158,158);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
}

#path>li:first-of-type{
    margin-left: 0; 
}

#path>li>a{
    color: rgb(104,159,213);
    text-decoration: none;
}

#path>li>a:hover{
    color: rgb(55,98,139);
    text-decoration: underline;
}

#path>li::before{
    content: "/";
    padding-right: 0.5em;
}

#path>li:first-of-type::before{
    content: none;
}

/* aside style: */
aside{
    box-sizing: border-box;
    float: left;
    width: 18%;
    position: static;
}

#side-nav-types-container{  
    background-color: rgb(225,243,253);
    border-radius: 2%;  
    box-shadow: 0px 0px 4px 0px rgba(148, 148, 148, 0.15);
    -moz-box-shadow: 0px 0px 4px 0px rgba(148, 148, 148, 0.15);
    -webkit-box-shadow: 0px 0px 4px 0px rgba(148, 148, 148, 0.15);
    text-align: left;
    padding: 1em;
    padding-bottom: 0.3em;
    color: rgb(0, 94, 184);
}

#side-nav-main-link{
    all:unset;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.1em;
}

#side-nav-types-container>ul{
    margin-left: 5%;
    margin-top: 5%;
}

#side-nav-types-container>ul>li{
    margin-bottom: 3%;
    font-size: 0.95em;
    cursor: pointer;
}

#filter-container{
    margin-top: 5%;
}

#clear-filters-container{
    display: inline-block;
    width: 100%;
    font-size: 1em;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px rgba(148, 148, 148, 0.15);
    -moz-box-shadow: 0px 0px 4px 0px rgba(148, 148, 148, 0.15);
    -webkit-box-shadow: 0px 0px 4px 0px rgba(148, 148, 148, 0.15);
    background: white;
    /* margin: 5% 0; */
    cursor: pointer;
    padding: 0.7em 1em;
}

#clear-filters-container:hover{
    color: rgb(206, 38, 12);
}

#clear-filters-container>span:first-child{
    padding-top: 0.1em;
    float: left;
}

#clear-filters-container>span:last-child{
    float: right;
}

#clear-filters-container>span>img{
    width: 0.9em;
    height: 0.9em;
}

#filters-list>*{
    margin: 3% 0;
}

#filters-list>ul{
    display: inline-block;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px rgba(148, 148, 148, 0.15);
    -moz-box-shadow: 0px 0px 4px 0px rgba(148, 148, 148, 0.15);
    -webkit-box-shadow: 0px 0px 4px 0px rgba(148, 148, 148, 0.15);
    background: white;
    padding: 0.5em 1em;
}

#filters-list>ul>h1{
    all:unset;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 5%;
}
#filters-list>ul>h1>span{
    float:left;
}

#filters-list>ul>h1>img{
    margin-top: 2%;
    float: right;
    width: 0.8em;
    height: 0.8em;
}

#filters-list>ul>li{
    text-align: left;
}

type["checkbox"]{
    background-color: white;
}


/* main content style*/
#main-content-outer-container{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    width: 80%;
    float: right;
    
}

    /* main container navigation style: */

#main-container-nav{
    background-color: white;
    border-radius: 4px;
    padding: 0.8em;
    display: inline-block;
    width: 100%;
    box-shadow: 0px 0px 4px 0px rgba(148, 148, 148, 0.15);
    -moz-box-shadow: 0px 0px 4px 0px rgba(148, 148, 148, 0.15);
    -webkit-box-shadow: 0px 0px 4px 0px rgba(148, 148, 148, 0.15);
}

#main-container-header{
    display: inline-block;
    float: left;
    width: 100%;
}

#main-container-header>h1{
    all: unset;
    float: left;
    font-size: 1.85em;
}

#main-container-header>h1>span{
    padding-left: 0.6em;
    font-size: 0.6em;
}

#main-container-header>hr{
    width: 100%;
}

#selected-filters{
    display: inline-block;
    width: 100%;
}

#selected-filters>ul{
    display: block;
    width: 100%;
}

#selected-filters>ul>li{
    display: inline-block;
    float: left;
    margin: 1%;
    width: 20%;
}

#selected-filters>ul>li>h1{
    all:unset;
    float: left;
    margin-left: 5%;
    margin-bottom: 3%;
    color: rgb(131, 131, 131);
}

.select-container-div>select{
    background: transparent;
    width: 85%;
    font-size: 0.8em;
    font-weight: bold;
    border: 0;
    border-radius: 0;
    height: 2.4em;
    -webkit-appearance: none;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
    padding-left: 1em;
}

/* TODO: style the drop down arrow / how??? */
.select-container-div{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url("assets/images/icons/arrow-down.png");
    background-color: rgb(238,238,238);
    border: 1px solid #ccc;
    border-radius: 3px;
}

.select-container-div>span{
    box-sizing: border-box;
    background-color: white;
    float: right;
    width: 15%;
    height: 100%;
    padding-top: 0.2em;
    padding-bottom: 0.3em;  
}

.select-container-div>span>img{
    width: 0.8em;
    height: 0.8em;
}

.select-container-div>span:hover{
    cursor: pointer;
    background-color: rgb(238,238,238);
}

.select-container-div>select:focus{
    background-color: white;
}

.select-container-div>select>option{
    font-size: 1.1em;
    background-color: white;
    color: rgb(131, 131, 131);
}

#selected-filters>hr{
    width: 100%;
}

#sort-by-price{
    display: inline-block;
    width: 50%;
    text-align: left;
    float: left;
    font-size: 0.9em;
}

#sort-by-price>span{
    padding-right: 1em;
}

/* добавяне на стрелка за дропдаун */
#sort-by-price>select{
    all: unset;
    color:  rgb(131, 131, 131);
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0.4em 0.5em;
    width: 20%;
    cursor: pointer;
}

#sort-by-price>select>option{
    border:  1px solid #ccc;
    border-radius: 3px;
}



    /* products on page style */

#available-products{
    border-radius: 4px;
    margin: 1% 0;
}

.single-product-container{
    box-sizing: border-box;
    display: inline-block;
    background-color: white;
    width: 24%;
}
